/* _sass/styles.css */

.post-image-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-image {
  width: 100%; /* Ensure the image takes up 100% of its container width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  display: block; /* Center the image within its container */
  margin: 0 auto; /* Add margin to center the image */
}

@media only screen and (max-width: 600px) {
  .post-image {
    width: 100%; /* Adjust for smaller screens */
  }
}
