/* _sass/styles.css */

.post-image-container {
  text-align: center; /* Center the image within its container */
  margin-top: 20px; /* Add margin at the top for space */
  margin-bottom: 20px; /* Add margin at the bottom for space */
}

.post-image {
  width: 100%; /* Ensure the image takes up 100% of its container width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  display: inline-block; /* Display as an inline block to center within its container */
}
